<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appjombang.myskripsi">

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".Alarm.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" android:screenOrientation="portrait" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Tabel.ButtonTabel" android:screenOrientation="portrait"></activity>
        <activity android:name=".Grafik.ButtonGrafik" android:screenOrientation="portrait"></activity>
        <activity android:name=".Alarm.ButtonAlarm" android:screenOrientation="portrait"></activity>
        <activity android:name=".Tentang.ButtonInfo" android:screenOrientation="portrait"></activity>
        <activity android:name=".DataTerbaru.ButtonDataTerbaru" android:screenOrientation="portrait"></activity>
        <activity android:name=".Bantuan.ButtonBantuan" android:screenOrientation="portrait"></activity>
        <activity android:name=".Tabel.Tabel1jam" android:screenOrientation="portrait"/>
        <activity android:name=".Tabel.Tabelmenit" android:screenOrientation="portrait"/>
        <activity android:name=".Grafik.Grafikmenit" android:screenOrientation="portrait"/>
        <activity android:name=".Grafik.Grafik1jam" android:screenOrientation="portrait"/>
        <activity android:name=".Grafik.GrafikKelMnt" android:screenOrientation="portrait"/>
        <activity android:name=".Grafik.GrafikKel1Jam" android:screenOrientation="portrait"/>

        <receiver android:name=".Alarm.AlarmReceiver"></receiver>
        <service android:name=".Alarm.BackgroundService"></service>

        <service android:name=".Alarm.RingtonePlayingService" android:enabled="true"></service>
    </application>

</manifest>